[phases.setup]
nixPkgs = ["python311", "nodejs-18_x"]

[phases.install]
cmds = [
  "python3 -m pip install --upgrade pip",
  "python3 -m pip install -r backend/requirements.txt"
]

[start]
cmd = "gunicorn -w 4 -b 0.0.0.0:$PORT backend.app:app"

